@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@font-face {
  font-display: swap;
  font-family: "ABCWhytePlus";
  font-stretch: 75% 125%;
  font-stretch: 50 300;
  font-weight: 125 950;
  font-variation-settings: "INKT" 0.6;
  src: url(../../assets/fonts/ABCWhytePlusVariable-Trial.ttf) format("truetype");
}
:root {
  --primary-color: #8b5cf6;
  --accent-color: #8b5cf6;
  --text-color: #fff;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "ABCWhytePlus", sans-serif;
  font-weight: 650;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  word-spacing: 0.1em;
}

.text-primary {
  color: #8b5cf6;
}

.fill-primary {
  fill: #8b5cf6;
}

:has(> .line-right, > .line-bottom) {
  position: relative;
}

.line-right {
  border: none;
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: hsla(0, 0%, 100%, 0.2);
  opacity: 1;
  margin: 0;
}

.line-bottom {
  border: none;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 100%, 0.2);
  opacity: 1;
  margin: 0;
}

.folder {
  height: 400px;
  width: 300px;
  object-fit: cover;
  object-position: center;
  clip-path: polygon(1rem 1rem, calc(50% - 1rem) 1rem, calc(50% + 1rem) 0, calc(100% - 1rem) 0, 100% 1rem, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 1rem 100%, 0 calc(100% - 1rem), 0 2rem);
}

.btn-custom-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #8b5cf6;
  --bs-btn-border-color: var(--bs-btn-bg);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(104.6046511628, 43.6686046512, 243.3313953488);
  --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(87.4069767442, 19.5029069767, 241.9970930233);
  --bs-btn-active-border-color: var(--bs-btn-active-bg);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #8b5cf6;
  --bs-btn-disabled-border-color: var(--bs-btn-disabled-bg);
}

.btn-semi-opaque {
  --bs-btn-color: #fff;
  --bs-btn-bg: hsla(0, 0%, 94%, 0.1);
  --bs-btn-border-color: hsla(0, 0%, 94%, 0);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: hsla(0, 0%, 94%, 0.15);
  --bs-btn-hover-border-color: hsla(0, 0%, 94%, 0);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: hsla(0, 0%, 94%, 0.175);
  --bs-btn-active-border-color: hsla(0, 0%, 94%, 0);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: hsla(0, 0%, 94%, 0.1);
  --bs-btn-disabled-border-color: hsla(0, 0%, 94%, 0);
}

body {
  font-family: "ABCWhytePlus", sans-serif;
  font-weight: 400;
  position: relative;
  height: 100vh;
  background-color: rgb(17.435625, 9.403125, 36.8475);
  background-image: linear-gradient(135deg, hsl(225, 70%, 5%), hsl(275, 70%, 15%), hsl(245, 50%, 20%));
  padding: 1rem;
}

.body-content {
  position: relative;
  height: 100%;
  border: 1px hsla(0, 0%, 100%, 0.2) solid;
  border-radius: 0.5rem;
  display: grid;
  overflow: hidden;
  grid-template-rows: auto 1fr;
  grid-template-areas: "navbar" "main";
}

.navbar {
  position: relative;
  width: 100%;
  margin-inline: auto;
  font-weight: 600;
  border-bottom: 1px hsla(0, 0%, 100%, 0.2) solid;
}
.navbar .navbar-progress {
  position: absolute;
  left: 0;
  top: 0;
  background: hsla(0, 0%, 100%, 0.1);
  border-right: 1px hsla(0, 0%, 100%, 0.2) solid;
  width: 50%;
  height: 100%;
}
.navbar .collapse {
  position: static;
  inset: 0;
}
@media (min-width: 768px) {
  .navbar .collapse {
    position: absolute;
  }
}
.navbar .sign-up {
  --k: 1rem;
  padding-inline: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  outline: transparent;
  border: none;
  background-color: #8b5cf6;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: background-color 0.25s ease;
  clip-path: polygon(0 0, 100% 0, 100% 100%, var(--k) 100%, 0 calc(100% - var(--k)));
}
.navbar .sign-up:hover {
  background-color: rgb(104.6046511628, 43.6686046512, 243.3313953488);
}
.navbar .sign-up:active {
  background-color: rgb(87.4069767442, 19.5029069767, 241.9970930233);
}
.navbar * {
  font-weight: 600;
}
.navbar .nav-item {
  transition: color 0.25s ease;
}
.navbar .nav-item * {
  transition: color 0.25s ease;
}
.navbar .nav-item:hover,
.navbar .nav-item .active {
  color: var(--primary-color);
}
.navbar .nav-item:hover *,
.navbar .nav-item .active * {
  color: var(--primary-color);
}

main {
  overflow: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.hero {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 20vw;
  grid-template-rows: auto 1fr;
  grid-template-areas: "topleft right" "bottomleft right";
}
.hero > * {
  border: 1px hsla(0, 0%, 100%, 0.2) solid;
}
.hero .hero-text {
  padding: 1rem;
}
.hero .quote {
  padding: 1rem;
}
.hero .quote .quote-author {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  --corner-radius: 1rem;
  --name-width: 70%;
  --name-height: 3rem;
  --name-angle: 45deg;
  --name-offset: calc(var(--name-height) / tan(var(--name-angle)));
  --name-margin: 0.5rem;
}
.hero .quote .quote-author .author-name-ticket {
  display: flex;
  align-items: center;
  width: calc(var(--name-width) + var(--name-offset) / 2);
  height: calc(var(--name-height) - var(--name-margin));
  position: absolute;
  background-color: #8b5cf6;
  left: 0;
  bottom: 0;
  transition: all 0.25s ease;
  clip-path: polygon(0 0, calc(100% - var(--name-offset) - var(--name-margin) * (1 / sin(var(--name-angle)) - 1 / tan(var(--name-angle)))) 0, calc(100% - var(--name-margin) / sin(var(--name-angle))) 100%, var(--corner-radius) 100%, 0 calc(100% - var(--corner-radius)), 0 100%);
}
.hero .quote .quote-author .author-name-ticket:hover {
  scale: 1.01;
  background-color: rgb(104.6046511628, 43.6686046512, 243.3313953488);
}
.hero .quote .quote-author .author-name-ticket .author-name {
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  translate: 0;
  font-size: 1.25rem;
  margin: 0;
  margin-left: 1em;
}
.hero .quote .quote-author img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
  transition: scale 0.25s ease;
  clip-path: polygon(var(--corner-radius) 0, calc(100% - var(--corner-radius)) 0, 100% var(--corner-radius), 100% calc(100% - var(--corner-radius)), calc(100% - var(--corner-radius)) 100%, calc(var(--name-width) + var(--name-offset) / 2) 100%, calc(var(--name-width) - var(--name-offset) / 2) calc(100% - var(--name-height)), 0 calc(100% - var(--name-height)), 0 calc(100% - var(--corner-radius) - var(--name-height)), 0 var(--corner-radius));
}
.hero .quote .quote-author img:hover {
  scale: 1.01;
}
.hero .preview {
  position: relative;
}
.hero .preview .bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.5);
  z-index: -1;
}
.hero .preview .content {
  --padding: 1rem;
  position: relative;
  width: 100%;
  height: 100%;
}
.hero .preview .content .img-1 {
  position: absolute;
  top: var(--padding);
  left: var(--padding);
  width: 20%;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: center;
  clip-path: polygon(1rem 0, calc(50% - 0.5rem) 0, calc(50% + 0.5rem) 0.5rem, calc(100% - 1rem) 0.5rem, 100% 1.5rem, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 1rem 100%, 0 calc(100% - 1rem), 0 1rem);
}
.hero .preview .content .img-2 {
  position: absolute;
  bottom: var(--padding);
  right: var(--padding);
  width: 25%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  clip-path: polygon(2rem 0, calc(100% - 1rem) 0, 100% 1rem, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 1rem 100%, 0 calc(100% - 1rem), 0 calc(50% + 0.5rem), 1rem calc(50% - 0.5rem), 1rem 1rem);
}

.about {
  --gap: 0.25rem;
  display: grid;
  padding: calc(var(--gap));
  width: 100%;
  height: 100%;
  border: 1px hsla(0, 0%, 100%, 0.2) solid;
  transform-style: preserve-3d;
  perspective: 1000px;
  overflow: hidden;
  grid-template-areas: "card-1 card-1 card-1 card-1 card-2" "card-4 card-3 card-3 card-3 card-2" "card-4 card-3 card-3 card-3 card-2" "card-4 card-3 card-3 card-3 card-2" "card-4 card-5 card-5 card-5 card-5";
}
.about.show .about-card {
  transform: translateZ(0px);
  opacity: 1;
  transition: transform 1s calc(var(--index, 0) * 150ms) ease, opacity 1s calc(var(--index, 0) * 150ms) ease, background-color 0.25s ease;
}
.about.show .about-card:hover {
  background-color: hsla(224, 30%, 8%, 0.7);
}
.about .about-card {
  --corner-radius: 1rem;
  --border-margin: var(--gap);
  background-color: hsla(224, 30%, 10%, 0.7);
  transform: translateZ(200px);
  opacity: 0;
  padding: 1rem;
  transition: transform 1s ease, opacity 1s ease;
  clip-path: polygon(calc(var(--border-margin) + var(--corner-radius)) var(--border-margin), calc(100% - var(--border-margin)) var(--border-margin), calc(100% - var(--border-margin)) calc(100% - var(--border-margin) - var(--corner-radius)), calc(100% - var(--border-margin) - var(--corner-radius)) calc(100% - var(--border-margin)), var(--border-margin) calc(100% - var(--border-margin)), var(--border-margin) calc(var(--border-margin) + var(--corner-radius)));
}
.about .about-card h4 {
  color: var(--accent-color);
}

.simulations-preview {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  border: 1px hsla(0, 0%, 100%, 0.2) solid;
}
.simulations-preview .title-ticket {
  --corner-radius: 1.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #8b5cf6;
  grid-area: 1/1/2/2;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--corner-radius)), calc(100% - var(--corner-radius)) 100%, 0 100%);
}
.simulations-preview .title-ticket .title {
  margin: 0;
}

.slider-3d {
  grid-area: 1/1/3/3;
  --view-index: 0;
  --slider-card-width: max(25vw, 100px);
  --slider-card-height: calc(var(--slider-card-width) / (var(--slider-card-aspect-ratio)));
  --slider-card-margin: calc(var(--slider-card-width) / 4);
  --slider-card-aspect-ratio: 3 / 4;
  --slider-radius: calc((var(--slider-card-width) + var(--slider-card-margin)) * var(--size) / 6.283185);
  --slider-width: 50vw;
  --slider-perspective: var(--slider-radius);
  --slider-rotationX: 0deg;
  --slider-offsetY: 0px;
  --slider-height: calc(var(--slider-card-height) + 100px);
  width: 100%;
  height: var(--slider-height);
  overflow: hidden;
  text-align: center;
  position: relative;
  margin-inline: auto;
  touch-action: pan-y;
  z-index: 0;
}
.slider-3d .slider-3d-perspective-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  perspective: var(--slider-perspective);
  transform: translate(-50%, calc(-50% + var(--slider-offsetY)));
}
.slider-3d .slider-3d-perspective-container .slider-3d-inner {
  --slider-inner-rotationY: calc(180deg + var(--view-index, 0) * (360 / var(--size)) * 1deg);
  --slider-inner-translateZ: calc(var(--slider-radius) - var(--slider-perspective));
  transform: rotateX(var(--slider-rotationX)) translateZ(var(--slider-inner-translateZ)) rotateY(var(--slider-inner-rotationY));
  width: var(--slider-card-width);
  aspect-ratio: var(--slider-card-aspect-ratio);
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}
.slider-3d .slider-3d-perspective-container .slider-3d-inner .item {
  --slider-item-offsetZ: var(--slider-radius);
  --slider-item-blur: 2px;
  --slider-item-corner-radius: calc(var(--slider-card-width) / 8);
  width: var(--slider-card-width);
  aspect-ratio: var(--slider-card-aspect-ratio);
  border-radius: 0.5rem;
  position: absolute;
  transition: transform 0.25s ease-in-out;
  transform: rotateY(calc(var(--index) * 360 / var(--size) * -1deg)) translateZ(var(--slider-item-offsetZ)) rotateY(180deg);
  backface-visibility: hidden;
  pointer-events: none;
  clip-path: polygon(var(--slider-item-corner-radius) 0, 100% 0, 100% calc(100% - var(--slider-item-corner-radius)), calc(100% - var(--slider-item-corner-radius)) 100%, 0 100%, 0 var(--slider-item-corner-radius));
}
.slider-3d .slider-3d-perspective-container .slider-3d-inner .item.in-view {
  --slider-item-blur: 0px;
  --slider-item-offsetZ: calc(var(--slider-radius) - var(--slider-perspective));
  pointer-events: auto;
  transition: transform 0.25s 0.25s ease-in-out;
}
.slider-3d .slider-3d-perspective-container .slider-3d-inner .item::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: none;
  backdrop-filter: blur(var(--slider-item-blur));
  transition: backdrop-filter 0.5s ease;
}
.slider-3d .slider-3d-perspective-container .slider-3d-inner .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slider-3d .slider-3d-perspective-container .slider-3d-inner .item a {
  display: block;
  width: 100%;
  height: 100%;
}
.slider-3d .slider-control-prev,
.slider-3d .slider-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.15s ease;
}
.slider-3d .slider-control-prev:hover, .slider-3d .slider-control-prev:focus,
.slider-3d .slider-control-next:hover,
.slider-3d .slider-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 1;
}
.slider-3d .slider-control-prev .slider-control-icon svg,
.slider-3d .slider-control-next .slider-control-icon svg {
  width: 2rem;
  height: 2rem;
  fill: var(--accent-color);
}
.slider-3d .slider-control-prev {
  left: 0;
}
.slider-3d .slider-control-next {
  right: 0;
}
.slider-3d .slider-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
}
.slider-3d .slider-indicators [data-slide-to] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 4px;
  padding: 0;
  margin-right: 4px;
  margin-left: 4px;
  text-indent: -999px;
  cursor: pointer;
  background-color: var(--accent-color);
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.slider-3d .slider-indicators [data-slide-to].active {
  opacity: 1;
}

.learn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  border: 1px hsla(0, 0%, 100%, 0.2) solid;
  grid-template-areas: "title . nav-pills" "tab-content tab-content tab-content";
}
.learn .title-ticket {
  --k: 1.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #8b5cf6;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--k)), calc(100% - var(--k)) 100%, 0 100%);
}
.learn .title-ticket .title {
  margin: 0;
}
.learn .nav-pills {
  --k: 1.5rem;
  background: hsl(224, 30%, 10%);
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, var(--k) 100%, 0 calc(100% - var(--k)), 0 0);
}
.learn .nav-pills .nav-item {
  width: 50%;
}
.learn .nav-pills .nav-link {
  color: white;
  border-radius: unset;
  width: 100%;
  height: 100%;
}
.learn .nav-pills .nav-link.active {
  background: #8b5cf6;
  color: var(--text-color);
}
.learn .tab-content {
  --gap: 1rem;
  padding: var(--gap);
}
.learn .tab-content .tab-pane .fade-up {
  translate: 0 20px;
  opacity: 0;
}
.learn .tab-content .tab-pane.show .fade-up {
  translate: 0 0;
  opacity: 1;
  transition: translate 0.5s calc(var(--index, 0) * 100ms) ease, opacity 0.5s calc(var(--index, 0) * 100ms) ease;
}

.concept-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: var(--gap, 0);
}

.concept-card {
  --corner-radius: 1rem;
  --bg-color: hsla(224, 30%, 10%, 0.5);
  --header-bg-color: #8b5cf6;
  --equation-bg-color: rgba(139, 92, 246, 0.2);
  --variable-item-bg-color: hsl(245, 30%, 25%);
  background-color: var(--bg-color);
  overflow: hidden;
  width: 100%;
  height: fit-content;
  cursor: pointer;
  transition: border 0.25s ease;
  clip-path: polygon(var(--corner-radius) 0, calc(100% - var(--corner-radius)) 0, 100% var(--corner-radius), 100% calc(100% - var(--corner-radius)), calc(100% - var(--corner-radius)) 100%, var(--corner-radius) 100%, 0 calc(100% - var(--corner-radius)), 0 var(--corner-radius));
}
.concept-card:hover .concept-card-header::before {
  content: "";
  left: 100%;
}
.concept-card .concept-card-header {
  position: relative;
  padding: 1rem 1.5rem;
  background-color: var(--header-bg-color);
  overflow: hidden;
}
.concept-card .concept-card-header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: hsla(0, 0%, 100%, 0.2);
  transition: left 0.5s;
}
.concept-card .concept-card-header::after {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e3e3e3'%3E%3Cpath d='M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z'/%3E%3C/svg%3E");
  position: absolute;
  right: 1.5rem;
  top: 50%;
  translate: 0 -50%;
  transition: rotate 0.25s ease;
}
.concept-card .concept-card-header .concept-card-title {
  margin: 0;
}
.concept-card .concept-card-body {
  padding: 1.5rem;
}
.concept-card .concept-card-body .concept-card-equation {
  background-color: var(--equation-bg-color);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  clip-path: polygon(var(--corner-radius) 0, 100% 0, 100% calc(100% - var(--corner-radius)), calc(100% - var(--corner-radius)) 100%, 0 100%, 0 var(--corner-radius));
}
.concept-card .concept-card-body .variables {
  box-sizing: content-box;
  border-top: 2px var(--equation-bg-color) solid;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.75s ease, max-height 0.75s linear(0, 0.05 8.7%, 0.102 14.8%, 0.169 20%, 0.258 24.7%, 0.375 29.2%, 0.521 33.6%, 0.999 44.7%, 0.661 53.5%, 0.586 57%, 0.561 60.3%, 0.583 63.4%, 0.646 66.6%, 0.998 77.4%, 0.915 81.4%, 0.895 83.2%, 0.888 85.1%, 0.904 88.3%, 0.986 95.7%, 1);
}
.concept-card .concept-card-body .variables .variable-item {
  --corner-radius: 0.5rem;
  background-color: var(--equation-bg-color);
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  clip-path: polygon(var(--corner-radius) 0, 100% 0, 100% calc(100% - var(--corner-radius)), calc(100% - var(--corner-radius)) 100%, 0 100%, 0 var(--corner-radius));
}
.concept-card.expanded .concept-card-header::after {
  rotate: 180deg;
}
.concept-card.expanded .concept-card-body .variables {
  margin-top: 1rem;
  padding-top: 1rem;
  opacity: 1;
}

footer {
  min-height: fit-content;
  max-width: 960px;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border-top: 1px solid hsla(240, 9%, 66%, 0.2);
}
footer .social-media-container {
  display: flex;
  gap: 1rem;
}
footer .social-media-container .social-link {
  font-size: 1.25rem;
  color: #fff;
  transition: color 0.25s ease;
  text-decoration: none;
}
footer .social-media-container .social-link:hover {
  color: hsl(275, 90%, 60%);
}

/*# sourceMappingURL=style.css.map */
