@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --primary-color: hsl(180, 100%, 50%);
  --accent-color: hsl(300, 100%, 50%);
}

body {
  position: relative;
  min-height: 100vh;
  background-color: #1a1a3a;
  background-image: linear-gradient(180deg, hsl(240, 40%, 12%) 0%, hsl(240, 40%, 8%) 100%);
  padding-inline: 1rem;
}
@media (min-width: 576px) {
  body {
    padding-inline: 2rem;
  }
}
@media (min-width: 768px) {
  body {
    padding-inline: 3rem;
  }
}
@media (min-width: 992px) {
  body {
    padding-inline: 5rem;
  }
}
@media (min-width: 1200px) {
  body {
    padding-inline: 10rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.text-primary {
  color: hsl(180, 100%, 50%);
}

.fill-primary {
  fill: hsl(180, 100%, 50%);
}

.btn-custom-primary {
  --bs-btn-color: #000;
  --bs-btn-bg: hsl(180, 100%, 50%);
  --bs-btn-border-color: var(--bs-btn-bg);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: hsl(180, 100%, 35%);
  --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: hsl(180, 100%, 25%);
  --bs-btn-active-border-color: var(--bs-btn-active-bg);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: hsl(180, 100%, 50%);
  --bs-btn-disabled-border-color: var(--bs-btn-disabled-bg);
}

.btn-semi-opaque {
  --bs-btn-color: #fff;
  --bs-btn-bg: hsla(0, 0%, 94%, 0.1);
  --bs-btn-border-color: hsla(0, 0%, 94%, 0);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: hsla(0, 0%, 94%, 0.15);
  --bs-btn-hover-border-color: hsla(0, 0%, 94%, 0);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: hsla(0, 0%, 94%, 0.175);
  --bs-btn-active-border-color: hsla(0, 0%, 94%, 0);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: hsla(0, 0%, 94%, 0.1);
  --bs-btn-disabled-border-color: hsla(0, 0%, 94%, 0);
}

.navbar {
  background: hsla(240, 40%, 8%, 0.8);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  font-weight: 600;
  border-bottom: 1px solid hsla(240, 9%, 66%, 0.2);
}
.navbar * {
  font-weight: 600;
}
.navbar .nav-item {
  transition: color 0.25s ease;
}
.navbar .nav-item * {
  transition: color 0.25s ease;
}
.navbar .nav-item:hover,
.navbar .nav-item .active {
  color: var(--primary-color);
}
.navbar .nav-item:hover *,
.navbar .nav-item .active * {
  color: var(--primary-color);
}

.hero .text h1 {
  font-size: 2rem;
}
@media (min-width: 576px) {
  .hero .text h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .hero .text h1 {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .hero .text h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1200px) {
  .hero .text h1 {
    font-size: 4rem;
  }
}
.hero .btn {
  font-weight: 600;
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.about .about-card {
  backdrop-filter: blur(8px);
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: hsla(200, 12%, 24%, 0.2);
  border: 1px solid hsla(0, 100%, 100%, 0.2);
  box-shadow: 0 0 16px hsl(from var(--card-color) h s l/0.5);
  width: min(40rem, 100%);
}
.about .about-card:nth-of-type(2n) {
  --card-color: var(--accent-color);
  translate: 25% 0;
  direction: ltr;
}
.about .about-card:nth-of-type(2n + 1) {
  --card-color: var(--primary-color);
  translate: -25% 0;
  direction: rtl;
}
.about .about-card h4 {
  color: var(--card-color);
}

/*# sourceMappingURL=style.css.map */
