@use "../abstracts" as *;
@use "sass:color";
@use "sass:list";

.about {
    --gap: 0.25rem;
    display: grid;
    padding: calc(var(--gap));
    width: 100%;
    min-height: 100%;
    border: $main-border;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;
    grid-template-areas:
        "card-1 card-1 card-1 card-1 card-1"
        "card-2 card-2 card-2 card-2 card-2"
        "card-3 card-3 card-3 card-3 card-3"
        "card-4 card-4 card-4 card-4 card-4"
        "card-5 card-5 card-5 card-5 card-5";

    @include respond("sm") {
        grid-template-areas:
            "card-1 card-1 card-1 card-2 card-2"
            "card-3 card-3 card-3 card-2 card-2"
            "card-3 card-3 card-3 card-2 card-2"
            "card-4 card-4 card-4 card-4 card-4"
            "card-5 card-5 card-5 card-5 card-5";
    }

    @include respond("md") {
        grid-template-areas:
            "card-1 card-1 card-1 card-1 card-2"
            "card-4 card-5 card-5 card-5 card-2"
            "card-4 card-5 card-5 card-5 card-2"
            "card-4 card-5 card-5 card-5 card-2"
            "card-4 card-3 card-3 card-3 card-3";
    }

    &.show {
        .about-card {
            transform: translateZ(0px);
            opacity: 1;
            transition: transform 1s calc(var(--index, 0) * 150ms) ease, opacity 1s calc(var(--index, 0) * 150ms) ease,
                background-color 0.25s ease;

            &:hover {
                background-color: color.adjust($dark-gray, $alpha: -0.3, $lightness: -2);
            }
        }
    }

    .about-card {
        --corner-radius: 1rem;
        --border-margin: var(--gap);
        background-color: color.adjust($dark-gray, $alpha: -0.3);
        transform: translateZ(200px);
        opacity: 0;
        padding: 1rem;
        transition: transform 1s ease, opacity 1s ease;
        clip-path: polygon(
            calc(var(--border-margin) + var(--corner-radius)) var(--border-margin),
            calc(100% - var(--border-margin)) var(--border-margin),
            calc(100% - var(--border-margin)) calc(100% - var(--border-margin) - var(--corner-radius)),
            calc(100% - var(--border-margin) - var(--corner-radius)) calc(100% - var(--border-margin)),
            var(--border-margin) calc(100% - var(--border-margin)),
            var(--border-margin) calc(var(--border-margin) + var(--corner-radius))
        );

        h4 {
            color: var(--accent-color);
        }
    }
}
