@use "../abstracts" as *;
@use "sass:color";

.concept-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: var(--gap, 0);
}

.concept-card {
    --corner-radius: 1rem;
    --bg-color: #{color.adjust($dark-gray, $alpha: -0.5)};
    --header-bg-color: #{$primary-color};
    --equation-bg-color: #{color.adjust($primary-color, $alpha: -0.8)};
    --variable-item-bg-color: #{color.adjust($muted-indigo)};
    background-color: var(--bg-color);
    overflow: hidden;
    width: 100%;
    height: fit-content;
    cursor: pointer;
    transition: border 0.25s ease;
    clip-path: polygon(
        var(--corner-radius) 0,
        calc(100% - var(--corner-radius)) 0,
        100% var(--corner-radius),
        100% calc(100% - var(--corner-radius)),
        calc(100% - var(--corner-radius)) 100%,
        var(--corner-radius) 100%,
        0 calc(100% - var(--corner-radius)),
        0 var(--corner-radius)
    );

    &:hover {
        .concept-card-header {
            &::before {
                content: "";
                left: 100%;
            }
        }
    }

    .concept-card-header {
        position: relative;
        padding: 1rem 1.5rem;
        background-color: var(--header-bg-color);
        overflow: hidden;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: -100%;
            background-color: hsl(0 0% 100% / 0.2);
            transition: left 0.5s;
        }

        &::after {
            content: "";
            display: inline-block;
            width: 2rem;
            height: 2rem;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 100% 100%;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e3e3e3'%3E%3Cpath d='M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z'/%3E%3C/svg%3E");
            position: absolute;
            right: 1.5rem;
            top: 50%;
            translate: 0 -50%;
            transition: rotate 0.25s ease;
        }

        .concept-card-title {
            margin: 0;
        }
    }

    .concept-card-body {
        padding: 1.5rem;

        .concept-card-equation {
            background-color: var(--equation-bg-color);
            font-size: 1.5rem;
            padding: 0.5rem 1rem;
            text-align: center;
            clip-path: polygon(
                var(--corner-radius) 0,
                100% 0,
                100% calc(100% - var(--corner-radius)),
                calc(100% - var(--corner-radius)) 100%,
                0 100%,
                0 var(--corner-radius)
            );
        }

        .variables {
            box-sizing: content-box;
            border-top: 2px var(--equation-bg-color) solid;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: all 0.75s ease,
                max-height 0.75s
                    linear(
                        0,
                        0.05 8.7%,
                        0.102 14.8%,
                        0.169 20%,
                        0.258 24.7%,
                        0.375 29.2%,
                        0.521 33.6%,
                        0.999 44.7%,
                        0.661 53.5%,
                        0.586 57%,
                        0.561 60.3%,
                        0.583 63.4%,
                        0.646 66.6%,
                        0.998 77.4%,
                        0.915 81.4%,
                        0.895 83.2%,
                        0.888 85.1%,
                        0.904 88.3%,
                        0.986 95.7%,
                        1
                    );

            .variable-item {
                --corner-radius: 0.5rem;
                background-color: var(--equation-bg-color);
                padding: 0.25rem 0.5rem;
                margin-bottom: 0.5rem;
                clip-path: polygon(
                    var(--corner-radius) 0,
                    100% 0,
                    100% calc(100% - var(--corner-radius)),
                    calc(100% - var(--corner-radius)) 100%,
                    0 100%,
                    0 var(--corner-radius)
                );
            }
        }
    }

    &.expanded {
        .concept-card-header {
            &::after {
                rotate: 180deg;
            }
        }
        .concept-card-body {
            .variables {
                margin-top: 1rem;
                padding-top: 1rem;
                opacity: 1;
            }
        }
    }
}
