@use "../abstracts" as *;
@use "sass:color";

.hero {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 200px;
    grid-template-areas:
        "preview preview"
        "quote quote";
    @include respond("lg") {
        grid-template-columns: 1fr 25%;
        grid-template-rows: 1fr;
        grid-template-areas: "preview quote";
    }

    & > * {
        border: $main-border;
    }
    .preview {
        display: grid;
        grid-template-rows: auto 1fr;

        .hero-text {
            grid-area: 1 / 1 / 3 / 2;
            padding: 1rem;
            border-bottom: $main-border;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            @include respond("lg") {
                grid-area: 1 / 1 / 2 / 2;
            }
        }

        .video {
            grid-area: 2 / 1 / 3 / 2;
            position: relative;
            .bg-video {
                position: absolute;
                width: 100%;
                height: 100%;
                inset: 0;
                object-fit: cover;
                object-position: center;
                filter: brightness(0.5);
                z-index: -1;
            }

            .content {
                --padding: 1rem;
                display: none;
                position: relative;
                width: 100%;
                height: 100%;
                @include respond("lg") {
                    display: block;
                }

                .img-1 {
                    position: absolute;
                    top: var(--padding);
                    left: var(--padding);
                    width: calc(100% / 5);
                    aspect-ratio: 2 / 1;
                    object-fit: cover;
                    object-position: center;
                    clip-path: polygon(
                        1rem 0,
                        calc(50% - 0.5rem) 0,
                        calc(50% + 0.5rem) 0.5rem,
                        calc(100% - 1rem) 0.5rem,
                        100% 1.5rem,
                        100% calc(100% - 1rem),
                        calc(100% - 1rem) 100%,
                        1rem 100%,
                        0 calc(100% - 1rem),
                        0 1rem
                    );
                }
                .img-2 {
                    position: absolute;
                    bottom: var(--padding);
                    right: var(--padding);
                    width: calc(100% / 4);
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    object-position: center;
                    clip-path: polygon(
                        2rem 0,
                        calc(100% - 1rem) 0,
                        100% 1rem,
                        100% calc(100% - 1rem),
                        calc(100% - 1rem) 100%,
                        1rem 100%,
                        0 calc(100% - 1rem),
                        0 calc(50% + 0.5rem),
                        1rem calc(50% - 0.5rem),
                        1rem 1rem
                    );
                }
            }
        }
    }

    .quote {
        position: relative;
        padding: 1rem;

        .quote-text {
            max-width: 70%;
        }

        .quote-author {
            --k: 1rem;
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            width: 30%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            object-position: center;
            @include respond("lg") {
                position: static;
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: scale 0.25s ease;
                clip-path: polygon(
                    var(--k) 0,
                    100% 0,
                    100% calc(100% - var(--k)),
                    calc(100% - var(--k)) 100%,
                    0 100%,
                    0 var(--k)
                );

                &:hover {
                    scale: 1.01;
                }
            }
        }
    }
}
