@use "../abstracts" as *;
@use "sass:color";

.learn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    border: $main-border;
    grid-template-areas:
        "title . nav-pills"
        "tab-content tab-content tab-content";

    .title-ticket {
        --k: 1.5rem;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: $primary-color;
        clip-path: polygon(
            0 0,
            100% 0,
            100% calc(100% - var(--k)),
            calc(100% - var(--k)) 100%,
            0 100%
        );

        .title {
            margin: 0;
        }
    }

    .nav-pills {
        --k: 1.5rem;
        background: $dark-gray;
        position: relative;
        clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            var(--k) 100%,
            0 calc(100% - var(--k)),
            0 0
        );

        .nav-item {
            width: 50%;
        }

        .nav-link {
            color: white;
            border-radius: unset;
            width: 100%;
            height: 100%;

            &.active {
                background: $primary-color;
                color: var(--text-color);
            }
        }
    }
    .tab-content {
        --gap: 1rem;
        padding: var(--gap);
        .tab-pane {
            .fade-up {
                translate: 0 20px;
                opacity: 0;
            }

            &.show {
                .fade-up {
                    translate: 0 0;
                    opacity: 1;
                    transition: translate 0.5s calc(var(--index, 0) * 100ms) ease,
                        opacity 0.5s calc(var(--index, 0) * 100ms) ease;
                }
            }
        }
    }
}
