@use "../abstracts" as *;

.simulations-preview {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    border: $main-border;

    .title-ticket {
        --corner-radius: 1.5rem;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: $primary-color;
        grid-area: 1 / 1 / 2 / 2;
        clip-path: polygon(
            0 0,
            100% 0,
            100% calc(100% - var(--corner-radius)),
            calc(100% - var(--corner-radius)) 100%,
            0 100%
        );

        .title {
            margin: 0;
        }
    }
}

.slider-3d {
    grid-area: 1 / 1 / 3 / 3;
    $breakpoint: "";
    --view-index: 0;
    --slider-card-width: max(25vw, 100px);
    --slider-card-height: calc(var(--slider-card-width) / (var(--slider-card-aspect-ratio)));
    --slider-card-margin: calc(var(--slider-card-width) / 4);
    --slider-card-aspect-ratio: 3 / 4;
    --slider-radius: calc((var(--slider-card-width) + var(--slider-card-margin)) * var(--size) / 6.283185);
    --slider-width: 50vw;
    --slider-perspective: var(--slider-radius);
    --slider-rotationX: 0deg;
    --slider-offsetY: 0px;
    --slider-height: calc(var(--slider-card-height) + 100px);
    width: 100%;
    height: var(--slider-height);
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-inline: auto;
    touch-action: pan-y;
    z-index: 0;

    .slider-3d-perspective-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-style: preserve-3d;
        perspective: var(--slider-perspective);
        transform: translate(-50%, calc(-50% + var(--slider-offsetY)));

        .slider-3d-inner {
            --slider-inner-rotationY: calc(180deg + var(--view-index, 0) * (360 / var(--size)) * 1deg);
            --slider-inner-translateZ: calc(var(--slider-radius) - var(--slider-perspective));
            transform: rotateX(var(--slider-rotationX)) translateZ(var(--slider-inner-translateZ))
                rotateY(var(--slider-inner-rotationY));
            width: var(--slider-card-width);
            aspect-ratio: var(--slider-card-aspect-ratio);
            transform-style: preserve-3d;
            transition: transform 0.5s ease-in-out;

            .item {
                --slider-item-offsetZ: var(--slider-radius);
                --slider-item-blur: 2px;
                --slider-item-corner-radius: calc(var(--slider-card-width) / 8);
                width: var(--slider-card-width);
                aspect-ratio: var(--slider-card-aspect-ratio);
                border-radius: 0.5rem;
                position: absolute;
                transition: transform 0.25s ease-in-out;
                transform: rotateY(calc(var(--index) * (360 / var(--size)) * -1deg))
                    translateZ(var(--slider-item-offsetZ)) rotateY(180deg);
                backface-visibility: hidden;
                pointer-events: none;
                clip-path: polygon(
                    var(--slider-item-corner-radius) 0,
                    100% 0,
                    100% calc(100% - var(--slider-item-corner-radius)),
                    calc(100% - var(--slider-item-corner-radius)) 100%,
                    0 100%,
                    0 var(--slider-item-corner-radius)
                );

                &.in-view {
                    --slider-item-blur: 0px;
                    --slider-item-offsetZ: calc(var(--slider-radius) - var(--slider-perspective));
                    pointer-events: auto;
                    transition: transform 0.25s 0.25s ease-in-out;
                }

                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    z-index: 1;
                    background: none;
                    backdrop-filter: blur(var(--slider-item-blur));
                    transition: backdrop-filter 0.5s ease;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .slider-control-prev,
    .slider-control-next {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        padding: 0;
        color: #fff;
        text-align: center;
        background: none;
        border: 0;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.15s ease;

        &:hover,
        &:focus {
            color: #fff;
            text-decoration: none;
            outline: 0;
            opacity: 1;
        }

        .slider-control-icon svg {
            width: 2rem;
            height: 2rem;
            fill: var(--accent-color);
        }
    }

    .slider-control-prev {
        left: 0;
    }

    .slider-control-next {
        right: 0;
    }

    .slider-indicators {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-right: 15%;
        margin-bottom: 1rem;
        margin-left: 15%;

        [data-slide-to] {
            box-sizing: content-box;
            flex: 0 1 auto;
            width: 30px;
            height: 4px;
            padding: 0;
            margin-right: 4px;
            margin-left: 4px;
            text-indent: -999px;
            cursor: pointer;
            background-color: var(--accent-color);
            background-clip: padding-box;
            border: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            opacity: 0.5;
            transition: opacity 0.6s ease;

            &.active {
                opacity: 1;
            }
        }
    }
}
