@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-display: swap;
    font-family: "ABCWhytePlus";
    font-stretch: 75% 125%;
    font-stretch: 50 300;
    font-weight: 125 950;
    font-variation-settings: "INKT" 0.6;
    src: url(../../assets/fonts/ABCWhytePlusVariable-Trial.ttf) format("truetype");
}