@use "../abstracts" as *;

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: $font1;
    font-weight: 650;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    word-spacing: 0.1em;
}
