@use "../abstracts" as *;

.text-primary {
    color: $primary-color;
}

.fill-primary {
    fill: $primary-color;
}

.btn-custom-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #{$primary-color};
    --bs-btn-border-color: var(--bs-btn-bg);
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #{darken($primary-color, 15)};
    --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #{darken($primary-color, 25)};
    --bs-btn-active-border-color: var(--bs-btn-active-bg);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #{$primary-color};
    --bs-btn-disabled-border-color: var(--bs-btn-disabled-bg);
}

.btn-semi-opaque {
    --bs-btn-color: #fff;
    --bs-btn-bg: hsla(0, 0%, 94%, 0.1);
    --bs-btn-border-color: hsla(0, 0%, 94%, 0);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: hsla(0, 0%, 94%, 0.15);
    --bs-btn-hover-border-color: hsla(0, 0%, 94%, 0);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: hsla(0, 0%, 94%, 0.175);
    --bs-btn-active-border-color: hsla(0, 0%, 94%, 0);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: hsla(0, 0%, 94%, 0.1);
    --bs-btn-disabled-border-color: hsla(0, 0%, 94%, 0);
}


